{% extends 'base.html' %}
{% block content %}

    <h2>Ajouter une structure</h2>

    <form method="post" enctype='multipart/form-data'>
        {{ structure_form.as_p }}
        {% csrf_token %}
        <button type="submit">Ajouter</button>
    </form>

{% endblock content %}