{% extends 'base.html' %}
{% block content %}

    <h2>Ajouter un tuteur·ice</h2>

    <form method="post" enctype='multipart/form-data'>
        {{ supervisor_form.as_p }}
        {% csrf_token %}
        <button type="submit">Ajouter</button>
    </form>

{% endblock content %}