{% extends 'base.html' %}
{% block content %}

    <h2>Suppression d'une structure</h2>
    <p>Êtes-vous sûr de vouloir supprimer la structure suivante : 
        "{{ structure.name }}" ?</p>
    
    <form action="" method='post'>
        {% csrf_token %}
        <input type='submit' value='Supprimer'>
    </form>
    
{% endblock content %}
