{% extends 'base.html' %}
{% block content %}

    <h2>Suppression d'un stage</h2>
    <p>Êtes-vous sûr de vouloir supprimer le stage suivant : 
        "{{ internship.title }}" ?</p>
    
    <form action="" method='post'>
        {% csrf_token %}
        <input type='submit' value='Supprimer'>
    </form>
    
{% endblock content %}
