{% extends 'base.html' %}
{% block content %}

    <h2>Suppression d'un·e tuteur·ice</h2>
    <p>Êtes-vous sûr de vouloir supprimer le·a tuteur·ice suivant·e : 
        "{{ supervisor.name }}" ?</p>
    
    <form action="" method='post'>
        {% csrf_token %}
        <input type='submit' value='Supprimer'>
    </form>
    
{% endblock content %}
