{% extends 'base.html' %}
{% block content %}

    <h2>Modifier les infos de la structure : </h2>
    <h3>{{ structure.name }}</h3>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Modifier">
    </form>

{% endblock %}