{% extends 'base.html' %}
{% block content %}

    <h2>Modifier les infos du·de la tuteur·ice : </h2>
    <h3>{{ supervisor.name }}</h3>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Modifier">
    </form>

{% endblock %}