{% extends 'base.html' %}
{% block content %}

    <h2>Carte des stages</h2>
    
    <!--Marker hover reactivity-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        /* Change the cursor to a pointer on hover so the user knows it's clickable */
        .mapboxgl-marker:hover { cursor: pointer; }
        /* darken the marker on hover */
        .mapboxgl-marker:hover svg > g > g:nth-child(2) { fill: #6ea76b; }
    </style>

    <!--Display the map-->
    <div id='map' style='width: 90%; height: 80%;'></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: ['{{mean_lon}}', '{{mean_lat}}'], // starting position [lng, lat]
            zoom: '{{ini_zoom}}' // starting zoom
        });
        map.addControl(new mapboxgl.NavigationControl());
    </script>
    
    <!--Display markers on the map-->
    {% for structure in structures %}
    <script>
        new mapboxgl.Marker({ "color": "#23aa1b" })
            .setLngLat(['{{structure.location_lon}}', '{{structure.location_lat}}'])
            .setPopup(
                new mapboxgl.Popup({ "anchor": "bottom-left" })
                    .setHTML("<h4><a href='{% url 'view_structure' structure.id %}' style='color: #177112'>{{ structure.name }}</a></h4>{% for internship in structure.internship_set.all %}<p><a href='{% url 'view_internship' internship.id %}' style='color: #23aa1b'>{{ internship.title }}</a></p>{% endfor %}")
            )
            .addTo(map);
    </script>
    {% endfor %}

    <style>
        .mapboxgl-popup-content{background-color: #c3e6c1;}
        .mapboxgl-popup-anchor-bottom-left > .mapboxgl-popup-tip { border-top-color: #c3e6c1;}
    </style>

{% endblock content %}