{% extends 'base.html' %}
{% block content %}

<style>
    .ligne {text-align: start; padding:2 5 5 5px; color: #3c6d39; background-color: #9ce098;}
    .internship {width:300px; color: #9ce098; background-color: #3c6d39;}
    .supervisor {width:30px; color: #9ce098; background-color: #3c6d39;}
    .structure {width:30px; color: #9ce098; background-color: #3c6d39;}
    .progress {width:30px; color: #9ce098; background-color: #3c6d39;}
    .city {width:30px; color: #9ce098; background-color: #3c6d39;}
    .type {width:30px; color: #9ce098; background-color: #3c6d39;}
    .domain {width:30px; color: #9ce098; background-color: #3c6d39;}
</style>
    
    <h2>Liste des informations des stages</h2>
    
    <table width="90%" border="1" style='border-collapse: collapse;'>
        <thead>
            <tr>
                <th class="internship">Stage</th>
                <th class="supervisor">Tuteur·ice</th>
                <th class="structure">Structure</th>
                <th class="progress">Avancement</th>
            </tr>
        </thead>
        <tbody>
            <tr>{% for internship in internships %}
                    <th class="ligne"><a href="{% url 'view_internship' internship.id %}">{{ internship.title }}</a></th>
                    <th class="ligne">{% if internship.supervisor %}<a href="{% url 'view_supervisor' internship.supervisor.id %}">{{ internship.supervisor.name }}</a>{% endif %}</th>
                    <th class="ligne">{% if internship.structure %}<a href="{% url 'view_structure' internship.structure.id %}">{{ internship.structure.name }}</a>{% endif %}</th>
                    <th class="ligne">{{ internship.get_progress_display }}</a></th>
            </tr>{% endfor %}
        </tbody>
    </table>

    <br><br>
    
    
    <h2>Liste des informations des structures</h2>
    
    <table width="90%" border="1" style='border-collapse: collapse;'>
        <thead>
            <tr>
                <th class="structure">Structure</th>
                <th class="city">Ville</th>
                <th class="type">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>{% for structure in structures %}
                <th class="ligne"><a href="{% url 'view_structure' structure.id %}">{{ structure.name }}</a></th>
                <th class="ligne">{{ structure.city }}</th>
                <th class="ligne">{{ structure.get_type_display }}</th>
            </tr>{% endfor %}
        </tbody>
    </table>

    <br><br>
    
    
    <h2>Liste des informations des tuteur·ice·s</h2>
    
    <table width="90%" border="1" style='border-collapse: collapse;'>
        <thead>
            <tr>
                <th class="supervisor">Tuteur·ice</th>
                <th class="structure">Structure</th>
                <th class="domain">Domaine</th>
            </tr>
        </thead>
        <tbody>
            <tr>{% for supervisor in supervisors %}
                <th class="ligne"><a href="{% url 'view_supervisor' supervisor.id %}">{{ supervisor.name }}</a></th>
                <th class="ligne">{% if supervisor.structure %}<a href="{% url 'view_structure' supervisor.structure.id %}">{{ supervisor.structure.name }}</a>{% endif %}</th>
                <th class="ligne">{{ supervisor.domain }}</th>
            </tr>{% endfor %}
        </tbody>
    </table>

{% endblock content %}