{% extends 'base.html' %}
{% block content %}

    <h2>STRUCTURE</h2>
    <h3>{{ structure_chosen.name }}</h3>
    
    <ul>
            <li>Ville - Pays : {{ structure_chosen.city }} - {{ structure_chosen.state }}</li>
            <li>Adresse : {{ structure_chosen.address }}</li>
        {% if structure_chosen.webpage %}
            <li>Lien : <a href="{{ structure_chosen.webpage }}">{{ structure_chosen.webpage }}</a></li>
        {% endif %}
        {% if structure_chosen.type %}
            <li>Type de structure_chosen : {{ structure_chosen.get_type_display }}</li>
        {% endif %}  
        {% if structure_chosen.contact %}
            <li>Contact (e-mail/téléphone) : {{ structure_chosen.contact }}</li>
        {% endif %}
        {% if structure_chosen.comment %}
            <li>Commentaire : {{ structure_chosen.comment }}</li>
        {% endif %}
    </ul>

    <a href="{% url 'edit_structure' structure_chosen.id %}">Modifier les infos de la structure</a>
    <a href="{% url 'delete_structure' structure_chosen.id %}">Supprimer la structure</a>

    <br><br><br>

    <!--_________MAP_________-->

    <!--Marker hover reactivity-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        /* Change the cursor to a pointer on hover so the user knows it's clickable */
        .mapboxgl-marker:hover { cursor: pointer; }
        /* darken the marker on hover */
        .mapboxgl-marker:hover svg > g > g:nth-child(2) { fill: #6ea76b; }
    </style>

    <!--Display the map-->
    <div id='map' style='width: 40%; height: 40%;'></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: ['{{structure_chosen.location_lon}}', '{{structure_chosen.location_lat}}'], // starting position [lng, lat]
            zoom: 5 // starting zoom
        });
        map.addControl(new mapboxgl.NavigationControl());
    </script>
    
    <!--Display markers on the map-->
    {% for structure in structures %}
    {% if structure != structure_chosen %}
    <script>
        new mapboxgl.Marker({ "color": "#23aa1b" })
            .setLngLat(['{{structure.location_lon}}', '{{structure.location_lat}}'])
            .setPopup(
                new mapboxgl.Popup({ "anchor": "bottom-left" })
                    .setHTML("<h4><a href='{% url 'view_structure' structure.id %}' style='color: #177112'>{{ structure.name }}</a></h4>{% for internship in structure.internship_set.all %}<p><a href='{% url 'view_internship' internship.id %}' style='color: #23aa1b'>{{ internship.title }}</a></p>{% endfor %}")
            )
            .addTo(map);
    </script>
    {% endif %}
    {% endfor %}
    <script>
        new mapboxgl.Marker({ "color": "#ff0000" })
            .setLngLat(['{{structure_chosen.location_lon}}', '{{structure_chosen.location_lat}}'])
            .setPopup(
                new mapboxgl.Popup({ "anchor": "bottom-left" })
                    .setHTML("<h4><a href='{% url 'view_structure' structure_chosen.id %}' style='color: #177112'>{{ structure_chosen.name }}</a></h4>{% for internship in structure_chosen.internship_set.all %}<p><a href='{% url 'view_internship' internship.id %}' style='color: #23aa1b'>{{ internship.title }}</a></p>{% endfor %}")
            )
            .addTo(map);
    </script>

    <style>
        .mapboxgl-popup-content{background-color: #c3e6c1;}
        .mapboxgl-popup-anchor-bottom-left > .mapboxgl-popup-tip { border-top-color: #c3e6c1;}
    </style>


    <br><br>

    <!--List of supervisors related to this structure-->
    {% if structure_chosen.supervisor_set.all %}
    <h3>Tuteurs·ices présents dans cette structure : </h3>
    <ul>
        {% for supervisor in structure_chosen.supervisor_set.all %}
        <li><a href="{% url 'view_supervisor' supervisor.id %}">{{ supervisor.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>

    <!--List of internships related to this structure-->
    {% if structure_chosen.internship_set.all %}
    <h3>Stages accessibles dans cette structure : </h3>
    <ul>
        {% for internship in structure_chosen.internship_set.all %}
        <li><a href="{% url 'view_internship' internship.id %}">{{ internship.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock content %}
