{% extends 'base.html' %}
{% block content %}

    <h2>TUTEUR·ICE</h2>
    <h3>{{ supervisor.name }}</h3>
    
    <ul>
            <li>Domaine/Travaux : {{ supervisor.domain }}</li>
        {% if supervisor.webpage %}
            <li>Lien : <a href="{{ supervisor.webpage }}">{{ supervisor.webpage }}</a></li>
        {% endif %}
        {% if supervisor.contact %}
            <li>Contact (e-mail/téléphone) : {{ supervisor.contact }}</li>
        {% endif %}
        {% if supervisor.comment %}
            <li>Commentaire : {{ supervisor.comment }}</li>
        {% endif %}
        {% if supervisor.structure %}
            <li>Structure : <a href="{% url 'view_structure' supervisor.structure.id %}">{{ supervisor.structure }}</a></li>
            {% if supervisor.structure.type %}
            <li>Type de structure : {{ supervisor.structure.get_type_display }}</li>
            {% endif %} 
            <li>Ville - Pays : {{ supervisor.structure.city }} - {{ supervisor.structure.state }}</li>
        {% endif %}
    </ul>

    <a href="{% url 'edit_supervisor' supervisor.id %}">Modifier les infos du·de la tuteur·ice</a>
    <a href="{% url 'delete_supervisor' supervisor.id %}">Supprimer le·a tuteur·ice</a>

    <br><br><br>

    <!--_________MAP_________-->
    {% if supervisor.structure %}
    <!--Marker hover reactivity-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        /* Change the cursor to a pointer on hover so the user knows it's clickable */
        .mapboxgl-marker:hover { cursor: pointer; }
        /* darken the marker on hover */
        .mapboxgl-marker:hover svg > g > g:nth-child(2) { fill: #6ea76b; }
    </style>

    <!--Display the map-->
    <div id='map' style='width: 40%; height: 40%;'></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: ['{{supervisor.structure.location_lon}}', '{{supervisor.structure.location_lat}}'], // starting position [lng, lat]
            zoom: 5 // starting zoom
        });
        map.addControl(new mapboxgl.NavigationControl());
    </script>
    
    <!--Display markers on the map-->
    {% for structure in structures %}
    {% if structure != supervisor.structure %}
    <script>
        new mapboxgl.Marker({ "color": "#23aa1b" })
            .setLngLat(['{{structure.location_lon}}', '{{structure.location_lat}}'])
            .setPopup(
                new mapboxgl.Popup({ "anchor": "bottom-left" })
                    .setHTML("<h4><a href='{% url 'view_structure' structure.id %}' style='color: #177112'>{{ structure.name }}</a></h4>{% for internship in structure.internship_set.all %}<p><a href='{% url 'view_internship' internship.id %}' style='color: #23aa1b'>{{ internship.title }}</a></p>{% endfor %}")
            )
            .addTo(map);
    </script>
    {% endif %}
    {% endfor %}
    <script>
        new mapboxgl.Marker({ "color": "#ff0000" })
            .setLngLat(['{{supervisor.structure.location_lon}}', '{{supervisor.structure.location_lat}}'])
            .setPopup(
                new mapboxgl.Popup({ "anchor": "bottom-left" })
                    .setHTML("<h4><a href='{% url 'view_structure' supervisor.structure.id %}' style='color: #177112'>{{ supervisor.structure.name }}</a></h4>{% for internship in supervisor.structure.internship_set.all %}<p><a href='{% url 'view_internship' internship.id %}' style='color: #23aa1b'>{{ internship.title }}</a></p>{% endfor %}")
            )
            .addTo(map);
    </script>

    <style>
        .mapboxgl-popup-content{background-color: #c3e6c1;}
        .mapboxgl-popup-anchor-bottom-left > .mapboxgl-popup-tip { border-top-color: #c3e6c1;}
    </style>
    {% endif %}

    <br><br>

    <!--List of internships related to this supervisor-->
    {% if supervisor.internship_set.all %}
    <h3>Stages associé à ce·tte tuteur·ice : </h3>
    <ul>
        {% for internship in supervisor.internship_set.all %}
        <li><a href="{% url 'view_internship' internship.id %}">{{ internship.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock content %}
