{% extends 'base.html' %}
{% block content %}

    <h2>STAGE</h2>
    <h3>{{ internship.title }}</h3>
    
    <ul>
            <li>Description : {{ internship.description|default_if_none:"" }}</li>
        {% if internship.webpage %}
            <li>Lien : <a href="{{ internship.webpage }}">{{ internship.webpage }}</a></li>
        {% endif %}
        {% if internship.contact %}
            <li>Contact (e-mail/téléphone) : {{ internship.contact }}</li>
        {% endif %}
        {% if internship.comment %}
            <li>Commentaire : {{ internship.comment }}</li>
        {% endif %}  
        {% if internship.positive_points or internship.negative_points %}
            <li>Points positifs : {{ internship.positive_points|default_if_none:"" }}</li>
            <li>Points négatifs : {{ internship.negative_points|default_if_none:"" }}</li>
        {% endif %} 
        <br>
        {% if internship.structure %}
            <li>Structure : <a href="{% url 'view_structure' internship.structure.id %}">{{ internship.structure }}</a></li>
            {% if internship.structure.type %}
                <li>Type de structure : {{ internship.structure.get_type_display }}</li>
            {% endif %} 
            <li>Ville - Pays : {{ internship.structure.city }} - {{ internship.structure.state }}</li>
        {% endif %}
        <br>
        {% if internship.supervisor %}
            <li>Tuteur·ice : <a href="{% url 'view_supervisor' internship.supervisor.id %}">{{ internship.supervisor }}</a></li>
        {% endif %}
        <br>
        {% if internship.progress %}
            <li>Avancement dans la demande de stage : {{ internship.get_progress_display }}</a></li>
        {% endif %}
    </ul>

    <a href="{% url 'edit_internship' internship.id %}">Modifier les infos du stage</a>
    <a href="{% url 'delete_internship' internship.id %}">Supprimer le stage</a>

    <br><br><br>

    <!--_________MAP_________-->
    {% if internship.structure %}
    <!--Marker hover reactivity-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
    <style>
        /* Change the cursor to a pointer on hover so the user knows it's clickable */
        .mapboxgl-marker:hover { cursor: pointer; }
        /* darken the marker on hover */
        .mapboxgl-marker:hover svg > g > g:nth-child(2) { fill: #6ea76b; }
    </style>

    <!--Display the map-->
    <div id='map' style='width: 40%; height: 40%;'></div>
    <script>
        mapboxgl.accessToken = '{{ mapbox_access_token }}';
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: ['{{internship.structure.location_lon}}', '{{internship.structure.location_lat}}'], // starting position [lng, lat]
            zoom: 5 // starting zoom
        });
        map.addControl(new mapboxgl.NavigationControl());
    </script>
    
    <!--Display markers on the map-->
    {% for structure in structures %}
    {% if structure != internship.structure %}
    <script>
        new mapboxgl.Marker({ "color": "#23aa1b" })
            .setLngLat(['{{structure.location_lon}}', '{{structure.location_lat}}'])
            .setPopup(
                new mapboxgl.Popup({ "anchor": "bottom-left" })
                    .setHTML("<h4><a href='{% url 'view_structure' structure.id %}' style='color: #177112'>{{ structure.name }}</a></h4>{% for internship in structure.internship_set.all %}<p><a href='{% url 'view_internship' internship.id %}' style='color: #23aa1b'>{{ internship.title }}</a></p>{% endfor %}")
            )
            .addTo(map);
    </script>
    {% endif %}
    {% endfor %}
    <script>
        new mapboxgl.Marker({ "color": "#ff0000" })
            .setLngLat(['{{internship.structure.location_lon}}', '{{internship.structure.location_lat}}'])
            .setPopup(
                new mapboxgl.Popup({ "anchor": "bottom-left" })
                    .setHTML("<h4><a href='{% url 'view_structure' internship.structure.id %}' style='color: #177112'>{{ internship.structure.name }}</a></h4>{% for internship in internship.structure.internship_set.all %}<p><a href='{% url 'view_internship' internship.id %}' style='color: #23aa1b'>{{ internship.title }}</a></p>{% endfor %}")
            )
            .addTo(map);
    </script>

    <style>
        .mapboxgl-popup-content{background-color: #c3e6c1;}
        .mapboxgl-popup-anchor-bottom-left > .mapboxgl-popup-tip { border-top-color: #c3e6c1;}
    </style>
    {% endif %}


{% endblock content %}
