{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Internshipproject</title>
        <link rel="stylesheet" href="{% static 'app.css' %}">



    </head>
    <body>
        <div class="sidebar">
            <h1>Tools</h1>
                <p><a href="{% url 'home' %}">Accueil</a></p>
                <p><a href="{% url 'list' %}">Liste des informations</a></p>
                <p><a href="{% url 'add_structure' %}">Ajouter une structure</a></p>
                <p><a href="{% url 'add_supervisor' %}">Ajouter un·e tuteur·ice</a></p>
                <p><a href="{% url 'add_internship' %}">Ajouter un stage</a></p>
        </div>
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
